PORT=8912 # Port on which the server will run
TOKEN= # A token to restrict upload access

STORAGE_PATH= # Choose where you want your files to be stored at

MAX_STORAGE_LIMIT=1 # Maximum storage limit in gigabytes
MAX_FILE_SIZE=10 # Maximum file size in megabytes
MAX_UNACCESSED_TIME= # Files not accessed within this many hours will be deleted

MAX_CACHE_SIZE= # The maximum size of the in-memory file cache in megabytes (disabled if not set)